@model ResetPasswordViewModel
@inject Library Library

@{
    var context = await Library.GetContext();
    var tReset = context.Read("Account", "Reset");
    var tPassword = context.Read("Account", "Password");
    var tResetPass = $"{tReset} {tPassword}";
    ViewData["Title"] = tResetPass;
}

<div class="hero">
    <div class="hero-body">
        <div class="has-text-centered">
            <div class="column is-4-desktop is-offset-4-desktop is-6-tablet is-offset-3-tablet">
                <h3 class="title is-font-rock has-text-weight-bold has-text-primary">Tricking Royal</h3>
                <div class="box is-faded">
                    <h3 class="title has-text-white">@tResetPass</h3>
                    <form asp-controller="Account" asp-action="ResetPassword" method="post">
                        <input asp-for="Code" type="hidden" />
                        <div asp-validation-summary="All" class="help is-danger"></div>
                        <div class="field">
                            <div class="control">
                                <input class="input" asp-for="Email" placeholder="@context.Read("Account", "Email")" autofocus="">
                                <span asp-validation-for="Email" class="help is-danger"></span>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input" asp-for="Password" placeholder="@tPassword">
                                <span asp-validation-for="Password" class="help is-danger"></span>
                            </div>
                        </div>
                        <div class="field">
                            <div class="control">
                                <input class="input" asp-for="ConfirmPassword" placeholder="@context.Read("Account", "ConfirmPassword")">
                                <span asp-validation-for="ConfirmPassword" class="help is-danger"></span>
                            </div>
                        </div>
                        <div class="field">
                            <button class="button is-block is-info is-fullwidth">@tReset</button>
                        </div>
                        <div class="field">
                            <a class="button" asp-action="Login">@context.Read("Account", "BackToLogin")</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}
